* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#mainNav > ul > {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
}
header {
  background-color: #646464;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#mainNav > ul > li {
  display: inline;
}
a {
  text-decoration: none;
  color: aliceblue;
}
p {
  width: 50%;
}
